:root {
  --Platinum: #e1e6e1;
  --Charcoal: #2d4654;
  --Davy: #4e4d5c;
  --Violet: #805e73;

}

.font-link {
  font-family: 'Josefin Sans', sans-serif;
}

* {
  text-align: center;
  background-color: var(--Charcoal);
  color: var(--Platinum)
  
}

header h1 {
border-radius: 10px;
border: solid white;
align-items: center;
padding: 100px;
}

header h2{
border-radius: 10px;
border: solid white;
}

header img {
border: 10px solid var(--Violet);
outline: 10px solid var(--Davy);
height:100px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
width:100px;
}

nav {
background-color: var(--Davy);
padding: 20px;

}

.nav-item {
  background-color: var(--Violet);
  display: flex;
  align-items: flex-start;
  color: var(--Platinum);
  
}

.nav-item:hover {
  color: var(--Charcoal);
}

footer {

position: absolute;
bottom: 5px;
width: 100%;
border-radius: 10px;
border: solid white;

}




